NET "rst" LOC = P78;
NET "clk" LOC = P50;
NET "out[7]" LOC = P33;
NET "out[6]" LOC = P30;
NET "out[5]" LOC = P44;
NET "out[4]" LOC = P35;
NET "out[3]" LOC = P40;
NET "out[2]" LOC = P34;
NET "out[1]" LOC = P43;
NET "out[0]" LOC = P47;
NET "en[0]" LOC = P46;
NET "en[1]" LOC = P45;
NET "en[2]" LOC = P41;
NET "en[3]" LOC = P32;
NET "a[3]" LOC = P51;
NET "a[2]" LOC = P48;
NET "a[1]" LOC = P55;
NET "a[0]" LOC = P56;
NET "b[3]" LOC = P57;
NET "b[2]" LOC = P58;
NET "b[1]" LOC = P66;
NET "b[0]" LOC = P59;